*{
  margin: 0;
  padding: 0;
}

.main{
  width: 100%;
  background: url(bg3.jpeg);
  background-position: center;
  background-size: cover;
<<<<<<< HEAD
=======
  height: 100vh;
>>>>>>> 2005714ef8171db8d22622dab524ec82f8c74934
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

<<<<<<< HEAD


  header {
  
      align-content: center;
      font-size: 250%;
      font-family: 'Courier New', Courier, monospace;
      background-image: url(medical.j);
  
    }





.navigation{
background-color:darkblue;
  text-align: centre;

}

.navigation .logo{
width: 160px;
cursor: pointer;
margin-top: 0;
margin: -2%
=======
.navigation{

  width: 86%;
  display: flex;
  margin: auto;
  padding: 15px 0;
  align-items:center ;
  justify-content: space-between
  ;
}


.navigation .logo{
width: 160px;
cursor: pointer;
margin-top: -3%;
margin: -2%;
margin-bottom: 50px 0;

>>>>>>> 2005714ef8171db8d22622dab524ec82f8c74934

}

ul{
  margin-top: -4%;
}

ul li{

  list-style: none;
  display: inline-block;
  padding:10px 16px ;
}